html {
  scroll-behavior: smooth;
}

body {
  background-color: #1F354A;
}

footer {
  padding: 1em;
}

h1 {
  color: navy;
}

.lead {
  color: white;
}
.alert {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.card {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#faq {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

#faq h6 {
  color: #1F354A;
}